body {
    width: 100%;
    font-family: 'Tahoma', 'Verdana', 'Georgia', 'sans-serif';
}

.game-hidden {
    display: none;
}

/* Questions / answers */
.question {
    text-align: center;
    margin-top: 20%;
}

.answer-result {
    text-align: center;
}

.answer-result.hidden {
    display: none;
}

.answer-result.error {
    color: red;
    font-size: 1rem;
}

.answer-result.success {
    color: green;
    font-size: 3rem;
}

.question, .question input, .question button {
    font-size: 2rem;
}

.question button {
    display: block;
    margin: 1rem auto;
}

.question .give-up {
    font-size: 0.6rem;
    color: red;
}

.question input {
    border: none;
    border-bottom: solid thin black;
    margin: 0 2rem;
}

/* Calculation */
.calculation {
    margin: 15% auto 0 auto;
    width: 10rem;
    font-size: 2rem;
}

.calculation > * {
    display: block;
}

.calculation input, .calculation button {
    font-size: 2rem;
    margin: 1rem auto;
}

.calculation .give-up {
    font-size: 0.6rem;
    color: red;
}

.calculation input {
    border: none;
    border-bottom: solid thin black;
    margin-bottom: 1rem;
    direction: RTL;
    width: 100%;
}

.calculation-line {
    display: block;
    text-align: right;
}

.calculation-line:last-child {
    border-bottom: solid thin black;
}

/* End message */
.the-end {
    text-align: center;
    margin-top: 20%;
    font-size: 4em;
    color: green;
}

.restart-button {
    font-size: 2rem;
    cursor: pointer;
    margin-top: 2rem;
    color: darkcyan;
}

/* Menu */
.main-menu {
    text-align: center;
}

.main-menu li {
    display: inline;
    margin: 0 3rem;
}

.main-menu a {
    font-size: 2em;
    color: graytext;
    text-decoration: none;
}

.main-menu a:hover {
    color: black;
}

/* Colour */
.colourSource {
    margin: 0 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: solid thin black;
}

.question.colour .colourPossibleAnswer {
    text-index: -9999rem;
    width: 2rem;
    height: 2rem;
    border: solid thin black;
}

.possible-colours {
    margin: 1rem 0;
}

/* Conjugation */
.possible-answers-list {
    display: inline-block;
    text-align: left;
    margin: 0 5rem 0 3rem;
    vertical-align: middle;
}

.possible-answer-item {
    display: block;
}